<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Region</th>
        </tr>
    </thead>
    <tbody>
{% for inventory_hostname in groups['all'] %}
        <tr>
            <td>{{ hostvars[inventory_hostname] }}</td>
            <td>{{ hostvars[inventory_hostname].power.status }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

</body>
</html>
