<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Power State</th>
        </tr>
    </thead>
    <tbody>
{% for host in groups['all'] %}
        <tr>
            <td>{{ host | lower }}</td>
            <td {% if "stopped" in hostvars[inventory_hostname].ec2_instance_info.instances[0].state.name %}style="background:red;"{% elif "running" in hostvars[inventory_hostname].ec2_instance_info.instances[0].state.name %}style="background:green;"{% endif %}>{{ hostvars[inventory_hostname].ec2_instance_info.instances[0].state.name }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

</body>
</html>